<main>
  <div class="container">
    <h1 class="my-5">Movies Lists</h1>
    <%= link_to 'New list', new_list_path, class: 'btn btn-secondary' %>
    <div class="container">
      <div class="row">
        <% @lists.each do |list| %>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <%= link_to list_path(list), class:'card-link' do %>
              <div class="card card-mine card-small card-clickable">
                <h2><%= list.name %></h2>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
