.card-mine {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

.card-small {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-clickable:hover {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
}

.card-link {
  color: $gray;
  text-decoration: none;
  &:hover {
    color: $gray;
  }
}


